body {
  --bg-color: #0a1f38;
  color: white;
  background-color: var(--bg-color);
  font-family: "Montserrat", serif;
}

h1 {
  margin: 0;
  font-family: Montserrat;
  font-size: 104px;
  font-weight: 900;
  line-height: 104px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

h2 {
  margin: 0;
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 600;
  line-height: 72px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

h3 {
  margin: 0;
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 400;
  line-height: 48px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

h4 {
  margin: 0;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.text_normal {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.text_small {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.text_small_bold {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
